@font-face {
    font-family: titulo;
    src: url(fontes/Merriweather_96pt-Regular.ttf);
}
@font-face {
    font-family: subtitulo;
    src: url(fontes/Merriweather_48pt-Light.ttf);
}
@font-face {
    font-family: texto;
    src: url(fontes/Inter_24pt-Regular.ttf);
}
@font-face {
    font-family: texto negrito;
    src: url(fontes/Inter_24pt-Bold.ttf);
}
@font-face {
    font-family: texto italico;
    src: url(fontes/Inter_24pt-Italic.ttf);
}

h1 {
    font-family: titulo;
    color: #3C2A1E;
    font-size: 250%;
}

h2 {
    font-family: subtitulo;
    color: #3C2A1E;
}

strong {
    font-family: texto negrito;
    color: #3C2A1E;
}

i {
    font-family: texto italico;
    color: #533f31;
}

body {
    font-family: texto;
    color: #3C2A1E;
    text-align: center;
    background-color: #FFF7ED;
    margin: 0;
    padding: 0;
}

a{
    font-family: texto negrito;
    padding: 4% 1% 4% 1%;
    color: #3C2A1E;
    background-color: #FFF7ED;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: #CF6679;
}

p {
    padding: 3%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
    border-color: #3C2A1E;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
}

img, video {
    border-color: #3C2A1E;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    box-shadow: 7px 7px 3px #3C2A1E;
}

ol, ul{
    padding: 3%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
    border-color: #3C2A1E;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
}

ul.barra{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    border-style: solid;
    border-color: #3C2A1E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

li a.barra{
    color: #3C2A1E;
    width: 7vw;
    height: 5vh;
    text-decoration: none;
    background-color: #FFF7ED;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
li a:hover.barra {
    background-color: #CF6679;
}

li.barra{
    flex-flow: row;
    width: 7vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    color: #3C2A1E;
    text-decoration: none;
    background-color: #FFF7ED;
    width: 7vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    width: 100%;
    height: 25vh;
    background-color: #3C2A1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF7ED;
}

.divVoltar{
    background-color: #FFF7ED;
    width: 20%;
    margin: auto;
}