@font-face {
    font-family: titulo;
    src: url(fontes/Merriweather_96pt-Regular.ttf);
}
@font-face {
    font-family: subtitulo;
    src: url(fontes/Merriweather_48pt-Light.ttf);
}
@font-face {
    font-family: texto;
    src: url(fontes/Inter_24pt-Regular.ttf);
}
@font-face {
    font-family: texto negrito;
    src: url(fontes/Inter_24pt-Bold.ttf);
}


h1 {
    font-family: titulo;
    color: #3C2A1E;
    font-size: 50px;
}

h2 {
    font-family: subtitulo;
    color: #3C2A1E;
}

body {
    font-family: texto;
    color: #3C2A1E;
    text-align: center;
    background-color: #FFF7ED;
    background-image: none;
}

a{
    font-family: texto negrito;
    padding: 10px 5px 10px 5px;
    color: #3C2A1E;
    background-color: #FFF7ED;
    display: inline-block;
    text-decoration: none;
}

strong {
    font-family: texto negrito;
    color: #3C2A1E;
}

a:hover {
    color: #CF6679;
}

p {
    padding: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    border-color: #3C2A1E;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
}

img, video {
    border-color: #3C2A1E;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    box-shadow: 7px 7px 3px #3C2A1E;
}

ol, ul{
    padding: 35px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    border-color: #3C2A1E;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
}

ul.barra{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    border-style: solid;
    border-color: #3C2A1E;
    display: flex;
    justify-content: center;
}

li a.barra{
    color: #3C2A1E;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #FFF7ED;
    margin: auto;
}
  
li a:hover.barra {
    background-color: #CF6679;
}

li.barra{
    flex-flow: row;
}

.active {
    color: #3C2A1E;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #FFF7ED
}
